<?xml version="1.0"?>
<config>
	<modules>
		<Company_InstallBugfix>
			<version>0.1.0</version>
		</Company_InstallBugfix>
	</modules>
	<global>
		<models>
			<installbugfix>
				<class>Company_InstallBugfix_Model</class>
			</installbugfix>
			<install>
				<rewrite>
					<installer_db_mysql4>Company_InstallerBugfix_Model_Installer_Db_Mysql4</installer_db_mysql4>
				</rewrite>
			</install>
		</models>
	</global>
</config>
